.vertical-menu-container {
  width: 100%;
  overflow-y: auto;
  max-height: 12em;
  text-align: center;
  margin: 7em 0;

  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    padding: 0.4em;
    font-size: 1.2em;
    color: #ffffffaf;
    font-weight: 500;
  }

  .selected {
    background: #e43e93;
    color: #fff;
    font-size: 1.4em;
  }
}

.period-calender {
  .react-calendar__month-view__weekdays {
    background: #e43e93;
    height: 2.5em;
    align-items: center;
    text-align: center;

    abbr {
      text-decoration: none;
      font-weight: 400;
    }
  }

  .react-calendar__navigation {
    display: flex;
    height: 3em;
    padding: 0 0.5em;
    margin-top: 1em;

    button {
      background: unset;
      border: unset;
      color: #fff;
      font-size: 1.2em;
    }
  }

  .react-calendar__month-view__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 1em 0em;
    width: 100%;
    gap: 0.5em 0;
    background: #fe84c337;
  }

  .react-calendar__tile {
    height: 3em;
    background: unset;
    border: unset;
    color: #fff;

    abbr {
      font-size: 1.3em;
    }
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    visibility: hidden;
  }

  .react-calendar__tile--rangeStart {
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
  }

  .react-calendar__tile--rangeEnd {
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  }

  .react-calendar__tile--range {
    background: #fb6292;
  }
}
